enable_gcp          = true
gcp_project         = "careerops-503307"
gcp_region          = "us-central1"
gcp_zone            = "us-central1-a"
gcp_instance_name   = "careerops"
gcp_machine_type    = "e2-micro"
gcp_disk_size_gb    = 30
gcp_disk_type       = "pd-standard"
gcp_ssh_username    = "deploy"
gcp_network_tags    = ["http-server", "https-server", "lb-health-check"]
gcp_manage_firewall = false
gcp_ssh_public_key  = "REPLACE_WITH_YOUR_SSH_PUBLIC_KEY"
